html {
  margin: 0;
}

body {
  height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: 'Barriecito', cursive;
}

.error {
  color: red;
  font-weight: bold;
}

.wait-indicator {
  z-index: 2;
  position: relative;
  margin-left: 5px;
  width: 1350px;
  border: solid 2px black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 300px 200px rgba(0,0,0,0.75);
}

header{
  text-align: center;
  height: 200px;;
  min-width: 100%;
  background-color: #BD0926;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.75);
}

.chuck-header{
  margin: 0 0 0 0;
  font-size: 8rem;
}

.chuck-o {
  margin-top: 30px;
  height: 100px;
}

.quote-section {
  width: 100%;
  height: 10em;
  text-align: center;
}

.quote-div {
  margin: auto;
  height: 70%;
  width: 50%;
}

.quote {
  z-index: 1;
  font-size: 5rem;
  letter-spacing: 0;
}

button {
  z-index: 1;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 50px auto 0 auto;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  transition: all 0.3s;
}
button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.faves-button {
  margin: 0 0 0 25px;
  width: 20%;
}

.norris-face {
  height: 100px;
}

ul {
  font-size: 1.25rem;
}
